@@charset "UTF-8";

body{
  background-color: #F0B49E;
}

div#interface{
  width: 800px;
  background-color: #F7E4BE;
  margin: -20px auto 0px auto;
  padding: 20px;
}

h1 {
  color: violet;
}
footer#rodape{
  clear:both;
  border-top: 2px solid black;
}
